.account {
  padding: 20px;
  background-color: #f8f9fa;
  color: #343a40;
  font-family: 'helvetica', sans-serif;
}

.account h1 {
  color: var(--primary-purple);
  font-size: 2.5em;
}

.account p {
  color: var(--secondary-navy);
  font-size: 1.2em;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accountDetails label {
  color: var(--secondary-navy);
}

.accountDetails input {
  padding: 10px;
  border: 1px solid var(--secondary-gray);
  border-radius: 5px;
}

.accountDetails button {
  align-self: flex-end;
  background: var(--primary-purple);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.accountDetails button:hover {
  background: var(--primary-yellow);
}
