.account {
  padding: 20px;
}

.account h1 {
  color: var(--primary-purple);
}

.account p {
  color: var(--secondary-navy);
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-details label {
  color: var(--secondary-navy);
}

.account-details input {
  padding: 10px;
  border: 1px solid var(--secondary-gray);
  border-radius: 5px;
}

.account-details button {
  align-self: flex-end;
}
