.checkout {
  padding: 20px;
  background: linear-gradient(to right, var(--primary-purple), var(--primary-yellow));
  color: var(--white);
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--secondary-gray);
  padding: 20px;
  border-radius: 10px;
}

.checkout-form label {
  color: var(--secondary-navy);
}

.checkout-form input, .checkout-form select {
  padding: 10px;
  border: 1px solid var(--secondary-gray);
  border-radius: 5px;
}

.checkout-form button {
  align-self: flex-end;
  background: var(--primary-purple);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.checkout-form button:hover {
  background: var(--primary-yellow);
}
