.communityStories {
  padding: 20px;
  background: linear-gradient(to right, var(--primary-purple), var(--primary-yellow));
  color: var(--white);
}

.story {
  background: var(--secondary-gray);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.story h3 {
  color: var(--primary-purple);
}

.story p {
  color: var(--secondary-navy);
}

