.header {
  background-color: var(--primary-blue);
  padding: 20px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--white);
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.header a:hover {
  color: var(--primary-yellow);
}

/* Ensure that the header links are displayed inline */
.header ul {
  display: flex; /* Use flexbox for horizontal layout */
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.header li {
  margin: 0 10px; /* Space between links */
}
