.home {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #007bff, #6f42c1);
    color: #ffffff;
}

.home h1 {
    font-size: 2.5em;
}

.home p {
    font-size: 1.2em;
}

.featuredProducts, .communityStories {
    margin-top: 40px;
}