.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productItem {
  background-color: var(--secondary-gray);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  transition: transform 0.3s;
}

.productItem:hover {
  transform: scale(1.05);
}

.productItem img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.productItem h3 {
  color: var(--primary-purple);
}

.productItem p {
  color: var(--secondary-navy);
}