.productDetail {
  display: flex;
  gap: 20px;
  background: linear-gradient(to right, var(--primary-green), var(--primary-blue));
  padding: 20px;
  border-radius: 10px;
}

.productDetail img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.productDetail .info {
  flex: 1;
  color: var(--white);
}

.productDetail h1 {
  color: var(--primary-purple);
  font-size: 2em;
}

.productDetail p {
  color: var(--white);
  font-size: 1.2em;
}

.productDetail button {
  margin-top: 20px;
  background: var(--primary-purple);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.productDetail button:hover {
  background: var(--primary-yellow);
}