.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.productBox {
  background: var(--secondary-gray);
  padding: 20px;
  border-radius: 10px;
  width: calc(33.333% - 40px);
  text-align: center;
  transition: transform 0.3s;
}

.productBox:hover {
  transform: scale(1.05);
}

.productBox h3 {
  color: var(--primary-purple);
}

.productBox p {
  color: var(--secondary-navy);
}