/* Add your styles for the Shop page here */

.shop {
    text-align: center;
    padding: 20px;
}

.shop h1 {
    color: var(--primary-blue);
    font-size: 2.5em;
}

.shop .productList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.shop .product {
    background: var(--secondary-gray);
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 40px);
    text-align: center;
}

.shop .product h3 {
    color: var(--primary-purple);
}

.shop .product p {
    color: var(--secondary-navy);
}